        <style>
        h1{
	color:purple;
	background-color:blue;
	font-size: 30pt;
        h2{
	color: red;
    background-color:blue;
	font-size: 26pt;
	}
	h3{
	color: yellow;
    background-color:blue;
	font-size: 22pt;
	}
	h4{
	color: lime;
    background-color:blue;
	font-size: 18pt;
	}
        body{
        background-image: url("http://cloud-4.steampowered.com/ugc/576741295347131351/22D4ED7C3615DACF89BC9FEA53A9F48296C0F18A/1024x576.resizedimage")
        }
	li.high{
	color:red;
	font-size: 22pt;
	}
	li.medium{
	color: yellow;
	font-size: 18pt;
	}
	li.low{
	color: green;
	font-size: 14pt;
	}
	li.complete{
	text-decoration: line-through;
	}

</style>